<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="dao.ProductoMapper">
 
 	<resultMap id="ProductoMap" type="models.Producto">
        <id column="id_producto" property="idProducto"/>
        <result column="codigo" property="codigo"/>
        <result column="nombre" property="nombre"/>
        <result column="precio" property="precio"/>
        <result column="moneda" property="moneda"/>
        <result column="stock_actual" property="stockActual"/>
        <result column="stock_minimo" property="stockMinimo"/>
        <result column="fecha_creacion" property="fechaCreacion"/>
        <result column="id_categoria" property="idCategoria"/>
        <result column="nombre_categoria" property="nombreCategoria"/> <!-- Nuevo mapeo -->
    </resultMap>
 
 	<select id="listarProductos" resultMap="ProductoMap">
        SELECT 
            p.id_producto, 
            p.codigo, 
            p.nombre, 
            p.precio, 
            p.moneda, 
            p.stock_actual, 
            p.stock_minimo, 
            p.fecha_creacion, 
            p.id_categoria,
            c.nombre AS nombre_categoria
        FROM productos p
        JOIN categorias c ON p.id_categoria = c.id_categoria
        WHERE p.estado_auditoria = '1'
    </select>


	<select id="listarPorCategoria" parameterType="int" resultMap="ProductoMap">
		SELECT
    p.id_producto,
    p.codigo,
    p.nombre,
    p.precio,
    p.moneda,
    p.stock_actual,
    p.stock_minimo,
    p.fecha_creacion,
    p.id_categoria,
    c.nombre AS nombre_categoria
FROM productos p
JOIN categorias c ON p.id_categoria = c.id_categoria
WHERE p.estado_auditoria = '1'
AND p.id_categoria = #{idCategoria}

	</select>
    
 </mapper>