<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="dao.SalidaMapper">

  <!-- Resultado mapeado a la clase Compra -->
  <resultMap id="SalidaMap" type="models.Salida">
    <id property="idSalida" column="id_salida"/>
    <result property="fechaSalida" column="fecha_salida"/>
    <result property="fechaCreacion" column="fecha_creacion"/>
    <result property="idUsuario" column="id_usurio"/>
    <result property="usuarioUsuario" column="nombre_usuario"/>
    <result property="idOrdenTrabajo" column="id_orden_trabajo"/>
    <result property="codigoOT" column="codigo_orden"/>
</resultMap>

  
  <select id="listarSalidas" resultMap="SalidaMap">
    SELECT 
        s.id_salida,
        s.fecha_salida,
        s.fecha_creacion,
        s.id_usurio,
        u.usuario AS nombre_usuario,
        s.id_orden_trabajo,
        ot.codigo AS codigo_orden
    FROM salidas s
    INNER JOIN orden_trabajos ot ON s.id_orden_trabajo = ot.id_orden_trabajo
    INNER JOIN usuarios u ON s.id_usurio = u.id_usuario
</select>

</mapper>